# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false

[*.cs]
insert_final_newline = true
indent_size = 4
csharp_new_line_before_open_brace = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2254.severity = none
